* {
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: #fff;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #062342;
}