:root {
    --primary-color: #EF6351 ;
    --primary-color-dark: #306BAC ;
    --secondary-color: #E87EA1;
    --secondary-color-dark: #07BEB8 ;
    --gray-color:#BBBBBF;
    --gray-color-dark:#60492C;
}